<div class="top5"></div>
    <div class="row">
        <div class="col s12">
            <div class="slider">
                <ul class="slides">
                  <li>
                    <%= image_tag("courses.jpg") %>
                    <div class="caption center-align">
                      <h3></h3>
                      <h5 class="light grey-text text-lighten-3"></h5>
                    </div>
                  </li>
                  <li>
                    <%= image_tag("small_island.jpg") %>
                    <div class="caption left-align">
                      <h3>Many courses you can choose here</h3>
                      <h5 class="light grey-text text-lighten-3">Provided by the experts</h5>
                    </div>
                  </li>
                  <li>
                    <%= image_tag("island.jpg") %>
                    <div class="caption right-align">
                      <h3>Get your certificates</h3>
                      <h5 class="light grey-text text-lighten-3">Share it to your colleagues</h5>
                    </div>
                  </li>
                </ul>
              </div>
      
        </div>
    </div>

<script>
    $('.slider').slider();
</script>